*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    overflow: hidden;
    background-repeat: no-repeat;
    background-image:url(./img/OmoriWhiteRoom0.png);
    height: 100vh;
    display: grid;
    grid-template-rows: 80px 1fr 5px;
    padding: 20px;
    font-family: 'Lato', sans-serif;
    background-size: cover;
}
.icon{
    width: 70px;
}
.partes{
    font-size: 25px;
    transform: translate(-1%,0%);
    font-family: 'Changa', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
    color: rgb(0, 0, 0);
}
.logo{
    position: absolute;
    width: 350px;
    top: 65%;
    left: 50%;
    transform: translate(10%,-400%);
}
.info{
    text-align:left;
    transform: translate(12%,55%);
    font-size: 15px;
    width: 250px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    color:rgb(14, 14, 14);
    font-family: 'Changa', sans-serif;
}
.omori-logo{
    width: 80px;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-80%);
}
.trailer{
    width: 260px;
    transform: translate(420%,-180%);
}
.subtitulo{
    position: absolute;
    font-size: 16px;
    transform: translate(2500%,-170%);
}
.channel{
    width: 210px;
    transform: translate(420%,-5%);
}
.subtitulo2{
    position: absolute;
    font-size: 16px;
    transform: translate(1970%,-100%);
}
.icone{
    position: absolute;
    width: 40px;
    top: 65%;
    left: 50%;
    transform: translate(-600%,330%);
}
.icone1{
    position: absolute;
    width: 40px;
    top: 65%;
    left: 50%;
    transform: translate(-250%,330%);
   
}
.icone2{
    position: absolute;
    width: 40px;  
    top: 65%;
    left: 50%;
    transform: translate(150%,330%);
}
.icone3{
    position: absolute;
    width: 40px;
    top: 65%;
    left: 50%;
    transform: translate(500%,330%);
}
#inverter{
    top: 85%;
    left: 1%;
    width: 130px;
    transform: scaleX(-1);
    position: absolute;
   
}
.creditos{
    font-family: 'Changa', sans-serif;
    font-size: 15px;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,700%);


}

