*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}
body{
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: url(./img/wallpaperbg.png);
    height: 100vh;
    background-size: cover;
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    font-family: 'Raleway', sans-serif;
    padding-top: 1em;
    margin: 2em;
}
header{
    gap: 10em;
    position: relative;
    display: flex;
    font-size: 2rem;
    justify-content: center;
    padding-right: 2em;
}
.navbar{
    padding-top: 1.5em;
    color: rgba(30, 30, 30, 0.79);
    font-weight: bold;
    display: flex;
    font-size: 20px;
    gap: 8em;
    align-items: center;
}
ul.navbar > a{
    color: rgba(30, 30, 30, 0.79);
    text-decoration: none;
    display: inline-block;
    position: relative;
    font-size: 1.25em;
    cursor: pointer;
    transition: 0.4s all ease;
}
ul.navbar > a:hover{
    transition: 0.4s all ease;
    color: #1E1E1E;
}
ul.navbar > a::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.100em;
    bottom: -0.3125em;
    left: 0;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
    background-color: #1E1E1E;
}
ul.navbar > a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
main{
    position: relative;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
main .maininfo{
    width: 18em;
    font-size: 1.5em;
    font-weight: 500;
}
section.info{
    display: grid;
    padding-left: 7em;
    gap: 3em;
}
section.medias{
    padding-right: 2em;
    display: grid;
    gap: 3em;
}
section.photos{
    display: flex;
    gap: 3em;
}
.links{
    border-radius: 1em;
    width: 12em;
    height: 12em;
}
footer{
    position: relative;
    display: flex;
    color: #270202;
    font-size: 0.8em;
    justify-content: center;
}